.footer {
    padding-top: 94px;
    padding-bottom: 10px;
    background-color: #292E39;
    &__contant {
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;
    }
    &__logo {
        margin-bottom: 20px;
    }
    .footer__left-cos-icon {
        width: 24px;
        height: 24px;
        fill: var(--color-gray);
        transition: fill .3s ease-in-out;
        &:hover {
            fill: var(--color-primary)
        }
    }
    &__left {
        &-logo {
            &:focus {
                outline: none
            }
        }
        &-soc {
            @include flex-v-center;
        }
        &-itams {
            width: 24px;
            height: 24px;
            &:not(:last-child) {
                margin-right: 21px;
            }
        }
        &-soc-link {
            &:focus {
                outline: none;
                .footer__left-cos-icon {
                    fill: var(--color-primary-light);
                }
            }
            &:active {
                .footer__left-cos-icon {
                    fill: var(--color-primary-light);
                }
            }
        }
    }
    &__right {
        @include flex-v-center;
        &-list {
            display: block;
            &:not(:last-child) {
                margin-right: 109px;
            }
        }
        &-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: var(--color-white);
            transition: color .3s ease-in-out;
            &:hover {
                color: var(--color-primary);
            }
            &:focus {
                outline: none;
                color: var(--color-primary-light);
            }
            &:active {
                color: var(--color-primary-shade);
            }
        }
        &-itams:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__span {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 103.34%;
        color: var(--color-gray);
        align-items: center;
        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }
    }
    &__wave {
        height: 10px;
        margin-bottom: 10px;
    }
}

@include tablet {
    .footer {
        &__contant {
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;
        }
        &__left {
            margin-bottom: 80px;
        }
        &__right {
            display: flex;
            justify-content: space-between;
            &-list:not(:last-child) {
                margin-right: 157px;
            }
        }
    }
}
