.footer {
    padding-top: 94px;
    padding-bottom: 10px;
    background-color: #292E39;
    &__contant {
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;
    }
    &__logo {
        margin-bottom: 20px;
    }
    .footer__left-soc-icon {
        width: 24px;
        height: 24px;
        fill: var(--color-gray);
        transition: fill .3s ease-in-out;
        &:hover {
            fill: var(--color-primary)
        }
    }
    &__left {
        &-logo {
            &:focus {
                outline: none
            }
        }
        &-soc {
            @include flex-v-center;
        }
        &-itams {
            width: 24px;
            height: 24px;
            &:not(:last-child) {
                margin-right: 21px;
            }
        }
        &-soc-link {
            &:focus {
                outline: none;
                .footer__left-cos-icon {
                    fill: var(--color-primary-light);
                }
            }
            &:active {
                .footer__left-cos-icon {
                    fill: var(--color-primary-light);
                }
            }
        }
    }
    &__right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 109px;
        row-gap: 20px;
        &-mobile {
            display: none;
        }
        &-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: var(--color-white);
            transition: color .3s ease-in-out;
            &:hover {
                color: var(--color-primary);
            }
            &:focus {
                outline: none;
                color: var(--color-primary-light);
            }
            &:active {
                color: var(--color-primary-shade);
            }
        }
    }
    &__span {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 103.34%;
        color: var(--color-gray);
        align-items: center;
        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }
    }
    &__wave {
        height: 10px;
        margin-bottom: 10px;
    }
}

@include tablet {
    .footer {
        &__contant {
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;
        }
        &__left {
            margin-bottom: 80px;
        }
    }
}

@include mobile {
    .footer {
        padding-top: 54px;
        &__wave {
            margin-top: 10px;
        }
        &__contant {
            margin-bottom: 0;
        }
        &__right {
            display: none;
            &-mobile {
                display: block;
                background-color: var(--color-black);
            }
            &-ofset {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 78px;
                padding-top: 30px;
                padding-bottom: 10px;
            }
            &-itams {
                margin-bottom: 20px;
            }
        }
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 54px;
            margin-bottom: 0;
            &-itams {
                width: 36px;
                height: 36px;
            }
            &-logo {
                display: block;
                margin: 0 auto;
            }
            &-soc {
                align-items: center;
                vertical-align: top;
                &-icon {
                    height: 36px !important;
                    width: 36px !important;
                }
            }
        }
    }
}
