    .header {
        padding: 20px 0;
        &__tablet-bg {
            display: none;
        }
        &-contant {
            @include flex-all-sb;
            &-right {
                @include flex-all-sb;
            }
        }
        &__logo {
            display: block;
            width: 160px;
            height: 20px;
            &-link:focus {
                outline: none;
            }
        }
        &__search {
            &-icon {
                padding-top: 5px;
                width: 24px;
                height: 24px;
                fill: var(--color-white);
                stroke: var(--color-primary);
                margin-right: 24px;
                transition: stroke .3s ease-in-out;
                &:hover {
                    stroke: var(--color-primary-light);
                }
            }
            &-btn {
                &:focus {
                    outline: none;
                    .header__search-icon {
                        stroke: var(--color-primary-shade);
                    }
                }
            }
        }
        &__rigth {
            @include flex-v-center;
            justify-content: flex-end;
        }
        &__btn {
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            padding: 10px 31px;
            border: solid 2px var(--color-black);
            border-radius: 77px;
            transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
            &:hover {
                background-color: var(--color-black);
                color: var(--color-white);
            }
            &:focus {
                background-color: var(--color-primary-light);
            }
            &:active {
                background-color: var(--color-primary-shade);
                border: 2px solid var(--color-primary-shade);
            }
        }
    }

    .nav {
        margin-right: 80px;
    }

    .nav__list {
        @include flex-v-center;
    }

    .nav__item:not(:last-child) {
        margin-right: 38px;
    }

    .nav__link {
        color: var(--color-black);
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;
        padding: 4px 10px;
    }

    .nav__link:hover {
        color: var(--color-primary);
    }

    .nav__link:focus {
        color: var(--color-white);
        background-color: var(--color-primary-light);
        outline: none;
    }

    .nav__link:active {
        color: var(--color-primary-shade);
    }

    @include big-desktop {
        .header {
            padding: 0;
            &__tablet-bg {
                display: block;
                padding: 23px;
                background-color: var(--color-light);
            }
            &-contant {
                display: block;
            }
            &__logo {
                width: 112px;
                height: 14px;
                &-link {
                    display: none;
                }
            }
            &-contant-right {
                padding: 20px 0;
            }
        }
        .nav {
            margin-left: -10px;
            margin-right: 37px;
        }
        .nav__item:not(:last-child) {
            margin-right: 34px;
        }
    }

    @include tablet {
        .nav {
            transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            &__list {
                position: absolute;
                flex-direction: column;
                align-items: start;
                background-color: var(--color-white);
                opacity: 1;
                padding-top: 50px;
                left: -5px;
            }
            &__item {
                margin-bottom: 30px;
                margin-right: 100px !important;
                padding: 0;
                margin-right: 0;
                margin-left: 0;
            }
        }
        .burger {
            @include burger;
            &--active {
                margin-right: auto;
                z-index: 999;
            }
        }
        .menu--active {
            opacity: .9;
            visibility: visible;
            z-index: 999;
        }
    }

    @include mobile {
        .header {
            &__logo {
                width: 87px;
                height: 10px;
            }
            &__btn {
                margin-top: -125px;
                padding: 9px 24px;
            }
            &__search-btn {
                margin-right: -115px;
            }
        }
    }
