.header2 {
    border-top: 1px solid #e6e8ec;
    border-bottom: 1px solid #e6e8ec;
    &__mobile-link {
        display: none;
    }
    &-contant {
        @include flex-all-sb;
    }
    &-btn {
        margin-right: 15px;
        &-tablet {
            display: none;
        }
        &:focus {
            outline: none;
            .header2__right-play {
                fill: var(--color-primary-light);
            }
        }
        &:active {
            .header2__right-play {
                fill: var(--color-primary-shade);
            }
        }
    }
    &-ofset {
        border-left: 1px solid var(--color-gray);
    }
    &__right {
        @include flex-v-center;
        width: 175px;
        padding-left: 12px;
        &-all {
            display: flex;
            border-left: solid 1px var(--color-gray);
            border-right: solid 1px var(--color-gray);
        }
        &-one {
            @include flex-v-center;
            cursor: pointer;
            &:hover {
                .header2__right-play {
                    fill: var(--color-primary);
                }
            }
        }
        &-play {
            width: 20px;
            height: 20px;
            fill: var(--color-gray);
            transition: fill 0.3s ease-in-out;
        }
        &-top {
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: var(--color-gray);
        }
        &-batton {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: var(--color-black);
        }
        &-bg {
            background-color: #e6e8ec;
            padding: 15px 8px;
        }
        &-age {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #fff;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            padding-top: 7px;
            color: var(--color-gray);
        }
    }
}

.nav2 {
    &__list {
        @include flex-v-center;
    }
    &__item {
        margin-right: 42px;
    }
    &__link {
        font-size: 16px;
        line-height: 16px;
        color: var(--color-black);
        padding: 3px 5px;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        &:hover {
            color: var(--color-primary);
        }
        &:focus {
            background-color: var(--color-primary-light);
            outline: none;
        }
        &:active {
            color: var(--color-primary-shade);
        }
    }
}

@include big-desktop {
    .header2 {
        padding: 23px 0;
        &__right-bg {
            display: none;
        }
        &__right {
            padding-left: 8px;
            width: 150px;
        }
        &-btn {
            margin-right: 8px;
        }
    }
    .nav2 {
        &__list {
            margin-left: -5px;
        }
        &__item {
            margin-right: 17px;
        }
    }
}

@include tablet {
    .header2 {
        &__right-all {
            display: none;
        }
        &-btn-tablet {
            display: block;
        }
    }
}

@include mobile {
    .header2 {
        display: flex;
        &-contant {
            display: none;
        }
        &__mobile {
            &-link {
                z-index: 9;
                margin: 0 auto;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: var(--color-primary);
                &-img {
                    display: block;
                    margin-right: 5px;
                    margin-bottom: 2px;
                }
            }
        }
    }
}
