.playlists {
    .content-none2 {
        display: none;
    }
    .content-activ2,
    .tabs-btn {
        display: grid;
    }
    &__tabs {
        display: none;
    }
    padding-top: 94px;
    padding-bottom: 94px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &__right {
        grid-column: 2 span;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        &-article {
            position: relative;
            cursor: pointer;
            background-color: var(--color-black);
            transition: background-color 0.3s ease-in-out;
            &-link {
                display: block;
                &:focus {
                    outline: none;
                    .playlists__right-play {
                        opacity: 1;
                    }
                    .playlists__right-bottom {
                        background-color: var(--color-primary-light);
                        border: 1px solid var(--color-primary-light);
                    }
                    .playlists__right-title {
                        color: var(--color-white);
                    }
                    .playlists__right-descr {
                        color: var(--color-white);
                    }
                    .playlists__right-img {
                        opacity: 0.2;
                    }
                    .playlists__right-imgbg {
                        opacity: 0.2;
                    }
                }
            }
            &-link:active {
                .playlists__right-play {
                    opacity: 1;
                }
                .playlists__right-bottom {
                    background-color: var(--color-primary-shade);
                    border: 1px solid var(--color-primary-shade);
                }
                .playlists__right-title {
                    color: var(--color-white);
                }
                .playlists__right-descr {
                    color: var(--color-white);
                }
                .playlists__right-img {
                    opacity: 0.2;
                }
                .playlists__right-imgbg {
                    opacity: 0.2;
                }
            }
            &:hover {
                .playlists__right-play {
                    opacity: 1;
                }
                .playlists__right-bottom {
                    background-color: var(--color-primary);
                    border: 1px solid var(--color-primary);
                }
                .playlists__right-title {
                    color: var(--color-white);
                }
                .playlists__right-descr {
                    color: var(--color-white);
                }
                .playlists__right-img {
                    opacity: 0.2;
                }
                .playlists__right-imgbg {
                    opacity: 0.2;
                }
            }
        }
        &-img {
            height: 165px;
            transition: opacity 0.3s ease-in-out;
        }
        &-imgbg {
            position: absolute;
            right: 3px;
            top: 0;
            transition: opacity 0.3s ease-in-out;
        }
        &-bottom {
            margin-top: -6px;
            width: 100%;
            background-color: var(--color-white);
            padding: 16px;
            border: 1px solid var(--color-light);
            transition: background-color 0.3s ease-in-out;
        }
        &-title {
            margin: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: var(--color-black);
            transition: color 0.3s ease-in-out;
        }
        &-descr {
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: var(--color-gray);
            transition: color 0.3s ease-in-out;
        }
        &-play {
            position: absolute;
            top: 59px;
            right: 59px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }
    &-radio {
        width: 24px;
        height: 24px;
    }
    &__left {
        grid-column: 1 span;
        margin-top: -20px;
        &-title {
            margin: 0;
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 48px;
            line-height: 100%;
            color: var(--color-black);
        }
        &-sabtitle {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 8px;
            color: var(--color-gray);
        }
        &-bottom {
            &-desctop {
                padding-top: 30px;
                border-top: 1px solid #d2d5dd;
            }
            &-tablet {
                display: none;
            }
        }
        &-descr {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-gray);
        }
        &-span {
            display: block;
            font-style: italic;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-gray);
            margin-bottom: 13px;
        }
        &-age {
            padding: 10px 7px;
            border: 1px solid #a1a6b4;
            border-radius: 100px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: var(--color-gray);
        }
    }
}

.form_radio {
    margin-bottom: 30px;
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.form_radio input[type="radio"] {
    display: none;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 37px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black);
    user-select: none;
}

.form_radio label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid var(--color-gray);
    border-radius: 100%;
}
/* Checked */

.form_radio input[type="radio"]:checked + label:before {
    border: 7px solid var(--color-primary);
    border-radius: 100%;
}
/* Hover */

.form_radio label:hover:before {
    filter: brightness(120%);
}
/* Disabled */

.form_radio input[type="radio"]:disabled + label:before {
    filter: grayscale(100%);
}

@include big-desktop {
    .playlists {
        &__grid {
            margin-bottom: 50px;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
        &__left {
            grid-column: 1/3;
            justify-content: space-between;
            &-one {
                margin-right: 78px;
            }
            &-bottom-desctop {
                display: none;
            }
            &-bottom-tablet {
                display: block;
                padding-top: 30px;
                border-top: 1px solid #d2d5dd;
            }
        }
        &__right {
            grid-column: 3 span;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            &-bottom {
                padding-left: 10px;
                border: none;
            }
            &-article {
                height: 112px;
                background-color: transparent;
                border: 1px solid var(--color-light);
                &:hover {
                    .playlists__right-play {
                        opacity: 0;
                    }
                    .playlists__right-bottom {
                        background-color: transparent;
                        border: none;
                    }
                    .playlists__right-title {
                        color: var(--color-black);
                    }
                    .playlists__right-descr {
                        color: var(--color-gray);
                    }
                    .playlists__right-img {
                        opacity: 1;
                    }
                    .playlists__right-imgbg {
                        opacity: 1;
                    }
                }
                &-link {
                    display: flex;
                    align-items: center;
                }
            }
            &-img {
                height: 112px;
            }
            &-imgbg {
                left: 0;
            }
        }
        .form_radio-box {
            display: flex;
            border: none;
        }
        .form_radio:nth-child(4) {
            margin-bottom: 0;
        }
    }
}

@include tablet {
    .playlists {
        padding-top: 54px;
        padding-bottom: 54px;
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
        &__left {
            &-one {
                margin-right: 30px;
            }
        }
        &__right {
            grid-template-columns: repeat(2, 1fr);
            grid-column: 2 span;
            &-bottom {
                padding-right: 0;
            }
            &-article {
                grid-column: 1 span;
            }
        }
    }
}

@include mobile {
    .form_radio-box {
        display: none !important;
    }
    .playlists {
        &__tabs {
            display: block;
            overflow: hidden;
        }
        &__left {
            &-title {
                font-size: 24px;
            }
            &-bottom {
                &-tablet {
                    padding-top: 20px;
                }
            }
            &-descr {
                font-size: 12px;
                line-height: 16px;
            }
            &-span {
                font-size: 12px;
            }
            &-age {
                padding: 8px 5px;
            }
        }
        &__right {
            &-article {
                height: 160px;
                &-link {
                    height: 160px;
                    flex-direction: column;
                }
            }
            &-title {
                font-size: 12px;
            }
            &-descr {
                font-size: 9px;
            }
        }
        &__tabs-btn {
            border: 2px solid var(--color-primary);
            border-radius: 77px;
            width: auto;
            padding: 7px 18px;
            &:focus {
                background-color: var(--color-primary);
                color: var(--color-white);
            }
            &:active {
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }
        .swiper {
            overflow: hidden;
            width: calc(100vw - (100vw - 286px) / 2);
        }

        .content-activ2 {
            display: grid;
        }
    }
}
