.price {
    padding: 94px 0;
    background-color: #292e39;
    &-flex {
        @include flex-v-center;
    }
    &__left {
        position: relative;
        margin-right: 30px;
        &-icon {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__right {
        max-width: 445px;
        display: flex;
        flex-direction: column;
        &-title {
            margin: 0;
            margin-bottom: 19px;
            font-weight: 400;
            font-size: 48px;
            line-height: 100%;
            color: #f0d288;
        }
        &-descr {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            color: var(--color-white);
            margin-bottom: 12px;
            &-link {
                font-weight: 500;
                font-size: 16px;
                color: #F0D288;
            }
        }
        &-price {
            padding-top: 18px;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            color: var(--color-white);
            margin-bottom: 30px;
        }
        &-wave {
            fill: var(--color-white);
            stroke: var(--color-white);
            margin-bottom: 19px;
        }
        &-link {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 0px;
            border: 2px solid #f0d288;
            border-radius: 100px;
            color: #f0d288;
            background-color: transparent;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
            &:focus {
                outline: none;
                background-color: #bb973e;
                color: var(--color-black);
            }
            &:active {
                border: 2px solid #bb973e;
                background-color: #bb973e;
                color: var(--color-black);
            }
            &-contant {
                font-weight: 600;
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 100%;
                background: url(../img/ya-icon.svg) no-repeat left center;
                transition: background-image .3s ease-in-out;
                padding-left: 30px;
            }
            &:hover {
                background-color: #f0d288;
                color: var(--color-black);
                .price__right-link-contant {
                    background: url(../img/ya-icon-revers.svg) no-repeat left center;
                }
            }
        }
    }
}

@include big-desktop {
    .price__left-img {
        min-width: 397px;
    }
}

@include tablet {
    .price {
        padding-top: 54px;
        &-flex {
            display: block;
        }
        &__left-img {
            margin-bottom: 50px;
        }
        &__right {
            max-width: 100%;
        }
    }
}
