<footer class="footer">
    <div class="container">
        <div class="footer__contant">
            <div class="footer__left">
                <a href="#">
                    <img src="img/fot-logo.png" alt="logo" class="footer__logo">
                </a>
                <ul class="list-reset footer__left-soc">
                    <li class="footer__left-itams">
                        <a href="https://www.youtube.com/" target="_blank">
                            <img src="img/youtube.svg" alt="youtube" class="footer__left-link">
                        </a>
                    </li>
                    <li class="footer__left-itams">
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="img/insta.svg" alt="youtube" class="footer__left-link">
                        </a>
                    </li>
                    <li class="footer__left-itams">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="img/fb.svg" alt="youtube" class="footer__left-link">
                        </a>
                    </li>
                    <li class="footer__left-itams">
                        <a href="https://www.twitter.com/" target="_blank">
                            <img src="img/twit.svg" alt="youtube" class="footer__left-link">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__right">
                <ul class="list-reset footer__right-list">
                    <li class="footer__right-itams"><a class="footer__right-link" href="#podcasts"> Подкасты</a></li>
                    <li class="footer__right-itams"><a class="footer__right-link" href="#transfers"> Передачи</a></li>
                    <li class="footer__right-itams"><a class="footer__right-link" href="#guest"> Гости</a></li>
                </ul>
                <ul class="list-reset footer__right-list">
                    <li class="footer__right-itams"><a class="footer__right-link" href="#playlists"> Плейлисты</a></li>
                    <li class="footer__right-itams"><a class="footer__right-link" href="#">Сетка</a></li>
                    <li class="footer__right-itams"><a class="footer__right-link" href="#abaut"> О нас</a></li>
                </ul>
                <ul class="list-reset footer__right-list">
                    <li class="footer__right-itams"><a class="footer__right-link" href="#"> Новости</a></li>
                    <li class="footer__right-itams"><a class="footer__right-link" href="#"> Блоги</a></li>
                    <li class="footer__right-itams"><a class="footer__right-link" href="#"> Топы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <img src="img/fot-wave.svg" alt="wave" class="footer__wave">
    <div class="container footer__span-box">
        <span class="footer__span">W-WAVE ® 2021</span>
    </div>
</footer>
