<section class="guest" id="guest">
    <div class="container">
        <h2 class="guest__title">Гости</h2>
        <p class="guest__title-small">У нас бывают:</p>
        <p class="guest__descr">Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки,
            историки, филологи и много других интересных гостей!</p>
        <div class="guest__contant">
            <div class="guest__left">
                <details class="accordion">
                    <summary class="accordion__control accordion__border">
                        <h3 class="accordion__title">Блогеры</h3>
                        <svg class="accordion__icon">
                            <use xlink:href="img/sprite.svg#acc-icon"></use>
                        </svg>
                    </summary>
                    <div class="accordion__content">
                        <ul class="list-reset accordion__list">
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="1"
                                    type="button">Сергей Денисов</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="2"
                                    type="button">Евгений Войновский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="3" type="button">Олег
                                    Свиридовский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="4"
                                    type="button">Денис Тельман</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="5"
                                    type="button">Матвей Мечников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="6"
                                    type="button">Ольга Мартынова</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="7"
                                    type="button">Владислав Кауперс</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="8" type="button">Юрий
                                    Горин</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="9"
                                    type="button">Константин Прусино</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="10"
                                    type="button">Дмитрий Михалок</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="11"
                                    type="button">Михаил Пожитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="12"
                                    type="button">Максим Сергеев</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="13"
                                    type="button">Иван Калитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="14"
                                    type="button">Пётр Пиотровский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="15"
                                    type="button">Георгий Полуян</button>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion__control">
                        <h3 class="accordion__title">Арт-критики </h3>
                        <svg class="accordion__icon">
                            <use xlink:href="img/sprite.svg#acc-icon"></use>
                        </svg>
                    </summary>
                    <div class="accordion__content">
                        <ul class="list-reset accordion__list">
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="1"
                                    type="button">Сергей Денисов</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="2"
                                    type="button">Евгений Войновский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="3" type="button">Олег
                                    Свиридовский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="4"
                                    type="button">Денис Тельман</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="5"
                                    type="button">Матвей Мечников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="6"
                                    type="button">Ольга Мартынова</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="7"
                                    type="button">Владислав Кауперс</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="8" type="button">Юрий
                                    Горин</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="9"
                                    type="button">Константин Прусино</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="10"
                                    type="button">Дмитрий Михалок</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="11"
                                    type="button">Михаил Пожитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="12"
                                    type="button">Максим Сергеев</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="13"
                                    type="button">Иван Калитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="14"
                                    type="button">Пётр Пиотровский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="15"
                                    type="button">Георгий Полуян</button>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion__control">
                        <h3 class="accordion__title">Художники</h3>
                        <svg class="accordion__icon">
                            <use xlink:href="img/sprite.svg#acc-icon"></use>
                        </svg>
                    </summary>
                    <div class="accordion__content">
                        <ul class="list-reset accordion__list">
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="1"
                                    type="button">Сергей Денисов</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="2"
                                    type="button">Евгений Войновский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="3" type="button">Олег
                                    Свиридовский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="4"
                                    type="button">Денис Тельман</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="5"
                                    type="button">Матвей Мечников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="6"
                                    type="button">Ольга Мартынова</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="7"
                                    type="button">Владислав Кауперс</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="8" type="button">Юрий
                                    Горин</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="9"
                                    type="button">Константин Прусино</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="10"
                                    type="button">Дмитрий Михалок</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="11"
                                    type="button">Михаил Пожитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="12"
                                    type="button">Максим Сергеев</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="13"
                                    type="button">Иван Калитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="14"
                                    type="button">Пётр Пиотровский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="15"
                                    type="button">Георгий Полуян</button>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion__control">
                        <h3 class="accordion__title">Люди науки</h3>
                        <svg class="accordion__icon">
                            <use xlink:href="img/sprite.svg#acc-icon"></use>
                        </svg>
                    </summary>
                    <div class="accordion__content">
                        <ul class="list-reset accordion__list">
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="1"
                                    type="button">Сергей Денисов</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="2"
                                    type="button">Евгений Войновский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="3" type="button">Олег
                                    Свиридовский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="4"
                                    type="button">Денис Тельман</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="5"
                                    type="button">Матвей Мечников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="6"
                                    type="button">Ольга Мартынова</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="7"
                                    type="button">Владислав Кауперс</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="8" type="button">Юрий
                                    Горин</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="9"
                                    type="button">Константин Прусино</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="10"
                                    type="button">Дмитрий Михалок</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="11"
                                    type="button">Михаил Пожитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="12"
                                    type="button">Максим Сергеев</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="13"
                                    type="button">Иван Калитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="14"
                                    type="button">Пётр Пиотровский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="15"
                                    type="button">Георгий Полуян</button>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion__control">
                        <h3 class="accordion__title">Историки</h3>
                        <svg class="accordion__icon">
                            <use xlink:href="img/sprite.svg#acc-icon"></use>
                        </svg>
                    </summary>
                    <div class="accordion__content">
                        <ul class="list-reset accordion__list">
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="1"
                                    type="button">Сергей Денисов</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="2"
                                    type="button">Евгений Войновский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="3" type="button">Олег
                                    Свиридовский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="4"
                                    type="button">Денис Тельман</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="5"
                                    type="button">Матвей Мечников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="6"
                                    type="button">Ольга Мартынова</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="7"
                                    type="button">Владислав Кауперс</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="8" type="button">Юрий
                                    Горин</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="9"
                                    type="button">Константин Прусино</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="10"
                                    type="button">Дмитрий Михалок</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="11"
                                    type="button">Михаил Пожитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="12"
                                    type="button">Максим Сергеев</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="13"
                                    type="button">Иван Калитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="14"
                                    type="button">Пётр Пиотровский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="15"
                                    type="button">Георгий Полуян</button>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion__control">
                        <h3 class="accordion__title">Филологи</h3>
                        <svg class="accordion__icon">
                            <use xlink:href="img/sprite.svg#acc-icon"></use>
                        </svg>
                    </summary>
                    <div class="accordion__content">
                        <ul class="list-reset accordion__list">
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="1"
                                    type="button">Сергей Денисов</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="2"
                                    type="button">Евгений Войновский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="3" type="button">Олег
                                    Свиридовский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="4"
                                    type="button">Денис Тельман</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="5"
                                    type="button">Матвей Мечников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="6"
                                    type="button">Ольга Мартынова</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="7"
                                    type="button">Владислав Кауперс</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="8" type="button">Юрий
                                    Горин</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="9"
                                    type="button">Константин Прусино</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="10"
                                    type="button">Дмитрий Михалок</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="11"
                                    type="button">Михаил Пожитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="12"
                                    type="button">Максим Сергеев</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="13"
                                    type="button">Иван Калитников</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="14"
                                    type="button">Пётр Пиотровский</button>
                            </li>
                            <li class="accordion__list-itams">
                                <button class="btn-reset accordion__list-link tabs-btn" data-path="15"
                                    type="button">Георгий Полуян</button>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>
            <div class="plug content-none content-activ">
                <img src="img/user.svg" alt="user" class="plug-img">
                <p class="plug-descr">Тут будет фото гостя</p>
            </div>
            <div class="guest__right content-none" data-target="1">
                <div class="tabs__panel">
                    <img src="img/guest__foto_1.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Сергей Денисов</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="2">
                <div class="tabs__panel">
                    <img src="img/guest__foto_2.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a class="#" href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Евгений Войновский</h4>
                    <p class="guest__right-descr">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="3">
                <div class="tabs__panel">
                    <img src="img/guest__foto_3.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Олег Свиридовский</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="4">
                <div class="tabs__panel">
                    <img src="img/guest__foto_4.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Денис Тельман</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="5">
                <div class="tabs__panel">
                    <img src="img/guest__foto_5.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Матвей Мечников</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="6">
                <div class="tabs__panel">
                    <img src="img/guest__foto_6.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Ольга Мартынова</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="7">
                <div class="tabs__panel">
                    <img src="img/guest__foto_7.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Владислав Кауперс</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="8">
                <div class="tabs__panel">
                    <img src="img/guest__foto_8.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Юрий Горин</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="9">
                <div class="tabs__panel">
                    <img src="img/guest__foto_9.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Константин Прусино</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="10">
                <div class="tabs__panel">
                    <img src="img/guest__foto_10.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Дмитрий Михалок</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="11">
                <div class="tabs__panel">
                    <img src="img/guest__foto_11.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Михаил Пожитников</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="12">
                <div class="tabs__panel">
                    <img src="img/guest__foto_12.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Максим Сергеев</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="13">
                <div class="tabs__panel">
                    <img src="img/guest__foto_13.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Иван Калитников</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="14">
                <div class="tabs__panel">
                    <img src="img/guest__foto_14.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Пётр Пиотровский</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="# " class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
            <div class="guest__right content-none" data-target="15">
                <div class="tabs__panel">
                    <img src="img/guest__foto_15.jpg" alt="guest" class="guest__right-img">
                    <ul class="list-reset guest__right__soc">
                        <li class="guest__right__soc-list">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.facebook.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="guest__right__soc-list ">
                            <a href="https://www.twitter.com " target="_blank">
                                <svg class="guest__right-link-icon">
                                    <use xlink:href="img/sprite.svg#twit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="guest__right-title ">Георгий Полуян</h4>
                    <p class="guest__right-descr ">Российский искусствовед, арт-критик, куратор выставок, дизайнер,
                        кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность
                        как куратор музея «Гараж», коим является с 2016 года.</p>
                    <a href="#" class="guest__right-link ">Эфиры с гостем</a>
                </div>
            </div>
        </div>
    </div>
</section>
