<div class="header2">
    <div class="container header2-contant">
        <nav class="nav2">
            <ul class="list-reset nav2__list">
                <li class="nav2__item">
                    <a href="#" class="nav2__link">Новости</a>
                </li>
                <li class="nav2__item">
                    <a href="#" class="nav2__link">Блоги</a>
                </li>
                <li class="nav2__item">
                    <a href="#" class="nav2__link">Топы</a>
                </li>
                <li class="nav2__item">
                    <a href="#" class="nav2__link">Опросы</a>
                </li>
                <li class="nav2__item">
                    <a href="#" class="nav2__link">Рейтинги</a>
                </li>
                <li class="nav2__item">
                    <a href="#" class="nav2__link">Реклама</a>
                </li>
            </ul>
        </nav>
        <div class="header2__right-all">
            <div class="header2__right">
                <div class="header2__right-one">
                    <button class="btn-reset header2-btn">
        <svg class="header2__right-play" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 0C4.475 0 0 4.475 0 10C0 15.525 4.475 20 10 20C15.525 20 20 15.525 20 10C20 4.475 15.525 0 10 0ZM8 14.5V5.5L14 10L8 14.5Z"/>
          </svg>

    </button>
                    <div class="header2__right-box">
                        <p class="header2__right-top">Ранее в эфире</p>
                        <p class="header2__right-batton">«Музыка»</p>
                    </div>
                </div>
            </div>
            <div class="header2__right header2-ofset">
                <div class="header2__right-one">
                    <button class="btn-reset header2-btn">
        <svg class="header2__right-play" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 0C4.475 0 0 4.475 0 10C0 15.525 4.475 20 10 20C15.525 20 20 15.525 20 10C20 4.475 15.525 0 10 0ZM8 14.5V5.5L14 10L8 14.5Z"/>
          </svg>

    </button>
                    <div class="header2__right-box">
                        <p class="header2__right-top">Сейчас в эфире</p>
                        <p class="header2__right-batton">«Как так?»</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="header2__right-bg">
            <button class="btn-reset header2__right-age">12+</button>
        </div>
        <button class="btn-reset header2-btn header2-btn-tablet">
          <svg class="header2__right-play">
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
    </div>
    <a href="#" class="header2__mobile-link">
        <img src="img/plus.svg" alt="plus" class="header2__mobile-link-img">Что в эфире?
    </a href="#">
</div>
