<div class="header">
    <div class="header__tablet-bg">
        <div class="container">
            <a href="#" class="header__logo-tablet">
                <img class="header__logo" src="img/logo.svg" alt="logo">
            </a>
        </div>
    </div>
    <div class="container header-contant">
        <a href="#" class="header__logo-link">
            <img class="header__logo" src="img/logo.svg" alt="logo">
        </a>
        <div class="header-contant-right">
            <nav class="nav" data-menu>
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#podcasts" class="nav__link" data-menu-item data-scroll>Подкасты</a></li>
                    <li class="nav__item"><a href="#transfers" class="nav__link" data-menu-item>Передачи</a></li>
                    <li class="nav__item"><a href="#guest" class="nav__link" data-menu-item>Гости</a></li>
                    <li class="nav__item"><a href="#playlists" class="nav__link" data-menu-item>Плейлисты</a></li>
                    <li class="nav__item"><a href="#abaut" class="nav__link" data-menu-item>О нас</a></li>
                </ul>
            </nav>
            <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
              <span class="burger__line"></span>
            </button>
            <div class="header__rigth">
                <button class="header__search-btn btn-reset">
        <svg class="header__search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#6D31EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21 21L16.65 16.65" stroke="#6D31EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

      </button>
                <button class="btn-reset header__btn">Вход</button>
            </div>
        </div>
    </div>
</div>
