<div class="header">
    <div class="container header-contant">
        <a href="#" class="header__logo-link">
            <img class="header__logo" src="img/logo.svg" alt="logo">
        </a>
        <nav class="nav">
            <ul class="nav__list list-reset">
                <li class="nav__item"><a href="#podcasts" class="nav__link">Подкасты</a></li>
                <li class="nav__item"><a href="#transfers" class="nav__link">Передачи</a></li>
                <li class="nav__item"><a href="#guest" class="nav__link">Гости</a></li>
                <li class="nav__item"><a href="#playlists" class="nav__link">Плейлисты</a></li>
                <li class="nav__item"><a href="#abaut" class="nav__link">О нас</a></li>
            </ul>
        </nav>
        <div class="header__rigth">
            <button class="header__search-btn btn-reset">
        <svg class="header__search-icon">
          <use xlink:href="img/sprite.svg#search-icon"></use>
        </svg>
      </button>
            <button class="btn-reset header__btn">Вход</button>
        </div>
    </div>
</div>
