<section class="podcasts" id="podcasts">
    <div class="container">
        <h2 class="podcasts__title">Подкасты</h2>
        <div class="podcasts__grid">
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_1.avif" type="image/avif">
                    <source srcset="img/podcasts_1.webp" type="image/webp">
                    <img src="img/podcasts_1.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">14 июня</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">15:43</span>
                            <h3 class="podcasts__article-title">Европа. XIX век</h3>
                            <p class="podcasts__article-avtor">Дмитрий Гутенберг</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
                  <svg class="podcasts__article-btn">
                    <use xlink:href="img/sprite.svg#play_btn"></use>
                  </svg>
                </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                            <svg class="podcasts__article-icon">
              <use xlink:href="img/sprite.svg#play-icon"></use>
            </svg>258
                        </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                            <svg class="podcasts__article-icon">
              <use xlink:href="img/sprite.svg#cordially-icon"></use>
            </svg>
                            104
                        </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                            <svg class="podcasts__article-icon">
              <use xlink:href="img/sprite.svg#share-icon"></use>
            </svg>
                            68                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_2.avif" type="image/avif">
                    <source srcset="img/podcasts_2.webp" type="image/webp">
                    <img src="img/podcasts_2.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">11 июня</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">5:32</span>
                            <h3 class="podcasts__article-title">О музыке</h3>
                            <p class="podcasts__article-avtor">Дмитрий Гутенберг</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
              <svg class="podcasts__article-btn">
                <use xlink:href="img/sprite.svg#play-podcasts"></use>
              </svg>
            </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>207
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          34
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          18                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_3.avif" type="image/avif">
                    <source srcset="img/podcasts_3.webp" type="image/webp">
                    <img src="img/podcasts_3.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">8 июня</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">8:54</span>
                            <h3 class="podcasts__article-title">Люди сегодня</h3>
                            <p class="podcasts__article-avtor">Анна Васильева</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
            <svg class="podcasts__article-btn">
              <use xlink:href="img/sprite.svg#play-podcasts"></use>
            </svg>
          </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>104
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          54
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          42                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_4.avif" type="image/avif">
                    <source srcset="img/podcasts_4.webp" type="image/webp">
                    <img src="img/podcasts_4.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">5 июня</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">9:04</span>
                            <h3 class="podcasts__article-title">Хэллоу, Африка!</h3>
                            <p class="podcasts__article-avtor">Пётр Дмитриевский</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
          <svg class="podcasts__article-btn">
            <use xlink:href="img/sprite.svg#play-podcasts"></use>
          </svg>
        </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>87
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          44
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          5                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_5.avif" type="image/avif">
                    <source srcset="img/podcasts_5.webp" type="image/webp">
                    <img src="img/podcasts_5.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">2 июня</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">7:03</span>
                            <h3 class="podcasts__article-title">Обо всём</h3>
                            <p class="podcasts__article-avtor">Пётр Дмитриевский</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
        <svg class="podcasts__article-btn">
          <use xlink:href="img/sprite.svg#play-podcasts"></use>
        </svg>
      </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>64
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          30
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          8                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_6.avif" type="image/avif">
                    <source srcset="img/podcasts_6.webp" type="image/webp">
                    <img src="img/podcasts_6.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">28 мая</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">9:15</span>
                            <h3 class="podcasts__article-title">Физика цвета</h3>
                            <p class="podcasts__article-avtor">Татьяна Флеганова</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
      <svg class="podcasts__article-btn">
        <use xlink:href="img/sprite.svg#play-podcasts"></use>
      </svg>
    </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>58
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          29
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          14                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_7.avif" type="image/avif">
                    <source srcset="img/podcasts_7.webp" type="image/webp">
                    <img src="img/podcasts_7.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">22 мая</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">16:04</span>
                            <h3 class="podcasts__article-title">Источник звука</h3>
                            <p class="podcasts__article-avtor">Пётр Дмитриевский</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
    <svg class="podcasts__article-btn">
      <use xlink:href="img/sprite.svg#play-podcasts"></use>
    </svg>
  </button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>55
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          20
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          12                       </button>
                    </div>
                </div>
            </article>
            <article class="podcasts__article">
                <picture class="podcasts__article-img">
                    <source srcset="img/podcasts_8.avif" type="image/avif">
                    <source srcset="img/podcasts_8.webp" type="image/webp">
                    <img src="img/podcasts_8.jpg" alt="podcasts">
                </picture>
                <span class="podcasts__data">18 мая</span>
                <div class="podcasts__article-contant">
                    <div class="podcasts__article-top">
                        <div class="podcasts__article-top-left">
                            <span class="podcasts__article-data">6:55</span>
                            <h3 class="podcasts__article-title">Правила этикета</h3>
                            <p class="podcasts__article-avtor">Татьяна Флеганова</p>
                        </div>
                        <button class="btn-reset podcasts__article__box-btn">
                  <svg class="podcasts__article-btn">
    <use xlink:href="img/sprite.svg#play-podcasts"></use>
  </svg>
</button>
                    </div>
                    <div class="podcasts__line"></div>
                    <div class="podcasts__article-bottom">
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>24
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#cordially-icon"></use>
          </svg>
                          54
                      </button>
                        <button class="btn-reset podcasts__article-bottom-box">
                          <svg class="podcasts__article-icon">
            <use xlink:href="img/sprite.svg#share-icon"></use>
          </svg>
                          42                       </button>
                    </div>
                </div>
            </article>
        </div>
        <button class="btn-reset podcasts__btn-basic">Ещё подкасты</button>

    </div>
</section>
