<section class="price">
    <div class="container price-flex">
        <div class="price__left">
            <img src="img/bag.png" alt="radio" class="price__left-img">
            <img src="img/new.svg" alt="new" class="price__left-icon">
        </div>
        <div class="price__right">
            <h2 class="price__right-title">Будь с нами на одной волне!</h2>
            <img src="img/wave.svg" alt="wave" class="price__right-wave">
            <p class="price__right-descr">
                Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на то, что мы только начали свой путь радиовещателей, нам хочется, чтобы вы могли как следует нас расслышать :)
            </p>
            <p class="price__right-descr">Итак, встречайте! Портативный радиоприёмник-колонка W-Wave 1.0 xm. Тщательный подбор всех делатей, ручная сборка, качественный звук. Пока доступно только 60 штук в 3 цветах, но мы активно трудимся над новыми партиями и дизайном. Спешите приобрести!
            </p>
            <span class="price__right-price">2800 руб</span>
            <a href="#" class="price__right-link">
                <img src="img/ya-icon.svg" alt="yandex" class="price__right-ya">Купить на Яндекс.Маркет
            </a>
        </div>
    </div>
</section>
