<section class="price">
    <div class="container price-flex">
        <div class="price__left">
            <img src="img/bag.png" alt="radio" class="price__left-img" />
            <img src="img/new.svg" alt="new" class="price__left-icon" />
        </div>
        <div class="price__right">
            <h2 class="price__right-title">Будь с нами на одной волне!</h2>
            <img src="img/wave.svg" alt="wave" class="price__right-wave" />
            <p class="price__right-descr">
                Друзья, рады представить вам продукт нашего производства! Да-да,
                несмотря на то, что мы только начали свой путь радиовещателей,
                нам хочется, чтобы вы могли как следует нас расслышать :)
            </p>
            <p class="price__right-descr price__right-descr-ofset">
                Итак, встречайте! Портативный радиоприёмник-колонка
                <a href="#" class="price__right-descr-link">
                    W&nbsp;-&nbsp;Wave&nbsp; 1.0&nbsp; xm</a
                >. Тщательный подбор всех делатей, ручная сборка, качественный
                звук. Пока доступно только 60 штук в 3 цветах, но мы активно
                трудимся над новыми партиями и дизайном. Спешите приобрести!
            </p>
            <span class="price__right-price">2800 руб</span>
            <a
                href="https://market.yandex.ru"
                class="price__right-link"
                target="_blank"
            >
                <div class="price__right-link-contant">
                    Купить на Яндекс.Маркет
                </div>
            </a>
        </div>
    </div>
</section>
