:root {
    --color-black: #121723;
    --color-white: #fff;
    --color-primary: #6d31ee;
    --color-primary-light: #aa9dfa;
    --color-gray: #a1a6b4;
    --color-light: #e6e8ec;
    --color-dark: #4d4d4d;
    --color-light-gray: #808080;
    --color-accent: #5d71dd;
}
